<%= turbo_frame_tag "new_compliment" do %>
<div>
  <h2>
    Send a Compliment
  </h2>
  <p>
    Brighten someone's day with a positive message!
  </p>
  <%= render 'form', compliment: @compliment %>
</div>
<% end %>
